<div class="container text-center">
    <br>
    
    <div class="spinner-border" role="status" *ngIf="contatosCarregando">
        <span class="sr-only">Loading...</span>
    </div>

    <br><br>

    <div *ngIf="erroNoCarregamento">
        <h2>Deu erro :(</h2>
        <button (click)="carregarContatos()">Tentar novamente</button>
    </div>

    <button class="btn btn-primary m-1 mb-2" (click)="novoContato()">Novo contato</button>

    <table class="table" *ngIf="!contatosCarregando && !erroNoCarregamento">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Ações
            </th>
        </tr>

        <tr *ngFor="let contato of contatos"> 
            <td>
                {{ contato.nome }}
            </td>
            <td>
                <button class="btn btn-primary mr-2" (click)="irParaDetalhes(contato.id)"> Ver detalhes </button>
                <button class="btn btn-primary mr-2" (click)="irParaEditar(contato.id)"> Editar contato </button>
                <button class="btn btn-danger" (click)="deletarContato(contato.id)"> Deletar </button>
            </td>
        </tr>
    </table>
</div>