<div class="container pt-5">

  <div class="text-center">
    <div class="spinner-border" role="status" *ngIf="estaCarregando">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <form [formGroup]="contatoForm" *ngIf="!estaCarregando && !erroNoCarregamento">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text" 
          class="form-control" 
          id="nome"
          placeholder="Nome" 
          formControlName="nome"
          [class.is-invalid]="exibeErro('nome')">
      </div>

      <div class="form-group">
        <label for="cpf">CPF</label>
        <input
          type="text" 
          class="form-control" 
          id="cpf"
          placeholder="CPF" 
          formControlName="cpf"
          [class.is-invalid]="exibeErro('cpf')">
      </div>
 
      <div class="form-group">
        <label for="banco">Banco</label>
        <input
          type="text"
          class="form-control"
          id="banco"
          placeholder="banco"
          formControlName="banco"
          [class.is-invalid]="exibeErro('banco')">
      </div>

      <div class="form-group">
        <label for="ag">Agência</label>
        <input
          type="text"
          class="form-control"
          id="ag"
          placeholder="Agência"
          formControlName="ag"
          [class.is-invalid]="exibeErro('ag')">
      </div>

      <div class="form-group">
        <label for="conta">Conta</label>
        <input
          type="text"
          class="form-control"
          id="conta"
          placeholder="Conta"
          formControlName="cc"
          [class.is-invalid]="exibeErro('cc')">
      </div>

      <button class="btn btn-primary" (click)="onSubmit()">
        {{ estaEditando() ? 'Salvar contato' : 'Editar contato' }}
      </button>
  
  </form>
  
  </div> 